@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-image: url(./assets/images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 600px !important;
    margin: 0 auto !important;
}
